@font-face {
    font-family: "pixel";
    src: url(font/kongtext.ttf);
}

* {
    font-family: "pixel";
    color: white;
    
}

body {
    max-height: 100vh;
    min-height: 100vh;
}

.fighting-background{
    background-image: url("img/background_plaine.jpg");
    background-repeat: none;
    background-size: contain;
    
}

/****************************/
/********menu visual*********/
/****************************/
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.menu button{
    min-width: 200px;
    margin-top: 15px;
}

/****************************/
/********score visual********/
/****************************/


/****************************/
/********credit visual*******/
/****************************/


/****************************/
/********game visual*********/
/****************************/
.game {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
}

h2, label{
    text-shadow: 0 0 5px black ;
}
/*
*   SECTION 
*/

.allies,
.enemy {
    margin-left: 60px;
    margin-right: 60px;
    min-height: 500px;
    max-width: 35%;
    justify-content: center;
    min-width: 30%;
}

.allies {
    align-content: flex-start;
}
 
section {
    min-height: 500px;
    max-height: 500px;
    max-width: 35%;
    display: grid;
    align-content: center;
}

article {
    display: block;
    text-align: center;
}

.allies img,
.enemy img {
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    object-fit: contain;
}

.turn-arrow {
    height: 250px;
    align-content: start;
}

.turn-arrow img {
    width: 175px;
    height: 175px;
    transition: all 1s ease-out;
}

.enemy-turn {
    transform: rotate(-6367deg);
}

.allies-turn {
    transform: rotate(-3350deg);
}

.nes-progress {
    width: 60%;
    height: 18px;
}

.nes-container {
    position: absolute !important;
    width: 30vw;
    top: 20%;
    left: 35vw;
    word-wrap: anywhere;
}

.disable {
    display: none;
}

/****************************/
/********responsive**********/
/****************************/

@media screen and (max-width: 1500px) {
    .fighting-background{
        background-size: cover;
        background-position: center;
    }
}