@font-face {
    font-family: "pixel";
    src: url(font/kongtext.ttf);
}
@keyframes arcade-out {
    0%{
        background-size: 500%, 100%;
    }

    100% {
       background-size: 140%, 100%;
    }
}
@keyframes arcade-in {
    0%{
        background-size: 140%, 100%;
    }

    100% {
       background-size: 500%, 100%;
    }
}
* {
    font-family: "pixel";
    color: white;    
}

/* body {
    background-image: url("img/background_plaine.jpg");
    background-size: cover;
} */

body {
    background-image: url("img/background_arcade.png"), url("img/background_plaine.jpg") ;
    background-repeat: no-repeat, no-repeat;
    background-position: center,bottom;
    background-size: 140%;
    min-height: 99.5vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
}

h2, label{
    text-shadow: 0 0 5px black ;
}
/****************************/
/********menu visual*********/
/****************************/
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.menu button{
    min-width: 200px;
    margin-top: 15px;
}
.credit, .highscore{
    align-items: center;
    flex-direction: column;
}
.arcade-normal{
    background-size: 140%, cover;
}
.arcade-zoom-out{
    animation: arcade-out 2s linear forwards ;
}
.arcade-zoom-in{
    animation: arcade-in 2s linear forwards ;
}

/****************************/
/********score visual********/
/****************************/


/****************************/
/********credit visual*******/
/****************************/


/****************************/
/********game visual*********/
/****************************/

.allies,
.enemy-full {
    margin-left: 60px;
    margin-right: 60px;
    min-height: 500px;
    max-width: 35%;
    justify-content: center;
}

.allies {
    align-content: flex-start;
}

section {
    min-height: 500px;
    max-height: 500px;
    max-width: 35%;
    display: grid;
    align-content: center;
}

article {
    display: block;
    text-align: center;
}

.allies img,
.enemy img {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
}

.turn-arrow {
    height: 250px;
    align-content: start;
}

.turn-arrow img {
    width: 175px;
    height: 175px;
    transition: all 1s ease-out;
}

.enemy-turn {
    transform: rotate(-6367deg);
}
.quick-enemy-turn{
    transform: rotate(-3470deg);
}

.allies-turn {
    transform: rotate(-3350deg);
}
.quick-allies-turn{
    transform: rotate(230deg);
}

.disable {
    display: none;
}
.enemy-full .life-bar {
    justify-self: center;
}
/*
history
*/
.history{
    height: 80px;
    align-self: flex-start;
    display:flex;
    justify-content: start;
    position: fixed;
    max-width: 100vh;
    left: 1%;
}
.dead-enemy{
 object-fit: contain;
 width: 60px;
    filter: sepia(100%)
}
/*
Framework modif
*/
.nes-progress {
    width: 60%;
    height: 18px;
}

.nes-container {
    position: absolute !important;
    width: 30vw;
    top: 20%;
    left: 35vw;
    word-wrap: anywhere;
}



/* @media screen and (min-width: 1500px) {
    body {
        background-size: contain;
    }
} */

.bigger{
    font-size: 30px;
}
.highscore-input{
    align-self: center;
    text-align: center;
    text-shadow: 0 0 5px black;
    position: absolute;
    top: 9%;
}
.highscore-input input {
    color: black;
}
.score-at-end{
    font-size: 25px;
}